from wok import WokWS, LAMR, WokWeb
#from dummy import Dummy

class Configuration(object):
  def __init__(self, app):
    # zdroje bibliografickych dat
    self.data_sources = [WokWS(LAMR())]
    #self.data_sources = [Dummy()]

    self.cite_data_sources = [WokWeb()]
    #self.cite_data_sources = []

    # tajny sifrovaci kluc
    self.secret = 'change this!'

    ADMINS = ['email@example.com']
    if not app.debug:
      import logging
      from logging.handlers import SMTPHandler
      from logging import Formatter
      
      mail_handler = SMTPHandler('smtp.example.com',
                                'citacie@example.com',
                                ADMINS, 'Citacie - error')
      mail_handler.setLevel(logging.ERROR)
      mail_handler.setFormatter(Formatter('''
Message type:       %(levelname)s
Location:           %(pathname)s:%(lineno)d
Module:             %(module)s
Function:           %(funcName)s
Time:               %(asctime)s

Message:

%(message)s
'''))
      app.logger.addHandler(mail_handler)

active_config = Configuration
