from wok import Wok, LAMR
from scopus import ScopusWeb
from merge import Merge

class Configuration(object):
  def __init__(self, app):
    # zdroje bibliografickych dat
    wokauth = PoolingWokAuthService(WokAuthService())
    self.data_source = Merge(Wok(lamr=LAMR(), ws=WokWS(auth=wokauth)), ScopusWeb())

    # tajny sifrovaci kluc
    self.secret = 'change this!'

    ADMINS = ['email@example.com']
    if not app.debug:
      import logging
      from logging.handlers import SMTPHandler
      from logging import Formatter
      
      mail_handler = SMTPHandler('smtp.example.com',
                                'citacie@example.com',
                                ADMINS, 'Citacie - error')
      mail_handler.setLevel(logging.ERROR)
      mail_handler.setFormatter(Formatter('''
Message type:       %(levelname)s
Location:           %(pathname)s:%(lineno)d
Module:             %(module)s
Function:           %(funcName)s
Time:               %(asctime)s

Message:

%(message)s
'''))
      app.logger.addHandler(mail_handler)

active_config = Configuration
