CherryPy==3.5.0
Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.9.6
argparse==1.2.1
certifi==14.05.14
defusedxml==0.4.1
html5lib==0.999
itsdangerous==0.24
lxml==3.3.6
names==0.3.0
redis==2.10.3
requests==2.4.0
retools==0.3dev
setproctitle==1.1.8
six==1.7.3
suds==0.4
unicodecsv==0.9.4
wsgiref==0.1.2
xmlbuilder==1.0
