{% extends "layout.html" %}
{% block title %}Status - Admin{% endblock %}
{% block content %}
<div class="centerbox">
  <div>
  <h1>Redis status</h1>
  <table>
  {% for name, value in status.iteritems() %}
    <tr>
      <td>{{ name }}</td>
      <td>{{ value }}</td>
    </tr>
  {% endfor %}
  </table>
  </div>
  
  {% for typ, keys in results %}
  <h1>{{ typ }}</h1>
  <table class="timekeys">
  {% for key, timestamp in keys %}
    <tr>
      <td>{{ timestamp|datetime }}</td>
      <td><a href="{{ url_for('admin_request', key='{}:{}'.format(typ, key)) }}">{{ key }}</a></td>
    </tr>
  {% endfor %}
  </table>
  {% endfor %}
</div>
{% endblock %}
