<form action="{{ url_for('search_by_author') }}" method="GET">
  <label for="by-author-surname">Surname</label>:
  <input type="text" size="20" id="by-author-surname" name="surname" value="{{ search_surname or '' }}"/>
  
  <label for="by-author-name">Forename</label>:
  <input type="text" size="20" id="by-author-name" name="name" value="{{ search_name or '' }}"/>
  
  <label for="by-author-year">Year</label>:
  <input type="text" size="5" id="by-author-year" name="year" value="{{ search_year or '' }}"/>
  
  <button type="submit">Search</button>
</form>