{% extends "layout.html" %}
{% block title %}Vyhľadávanie citácií{% endblock %}
{% block content %}
<div class="results-title"><div class="centerbox">
<h1>Citácie</h1>
</div></div>

<div class="results">
{% macro result_field(name, value, class) %}
  <span class="result-field result-field-{{ class }}">
    <span class="result-fieldname">{{ name }}:</span><!--
    --><span class="result-value">{{ value }}</span>
  </span>
{% endmacro %}
{% for result in results %}
  <div class="result"><div class="centerbox">
    <div class="result-marc">
      <span class="marc-tag">\9</span> <span class="marc-value">[o ]</span>
      <span class="marc-tag">\d</span> <span class="marc-value">{{ result.year }}</span>
      <span class="marc-tag">\m</span><span class="marc-value">
      {% for author in result.authors %}
        {%- if not loop.first %} - {% endif -%}
        {{ author.surname }}
        {%- if author.names %}, {{ author.names|join(' ') }}{% endif -%}        
      {% endfor %}
      </span>
      <span class="marc-tag">\n</span> <span class="marc-value">{{ result.title }}</span>
      <span class="marc-tag">\p</span> <span class="marc-value">
      {{ result.published_in }}
      {%- if result.volume -%}
      , vol. {{ result.volume }}
      {%- endif -%}
      {%- if result.issue -%}
      , issue {{ result.issue }}
      {%- endif -%}
      , {{ result.year }}
      </span>
      {% if result.pages %}
      <span class="marc-tag">\s</span> <span class="marc-value">s. {{ result.pages }}</span>
      {% endif %}
    </div>
    
    {% if result.errors %}
    <div class="result-errors">
      <ul>
      {% for error in result.errors %}
        <li>{{ error }}</li>
      {% endfor %}
      </ul>
    </div>
    {% endif %}
  </div></div>
{% endfor %}
</div>
{% endblock %}
