{% extends "layout.html" %}
{% import "macros.html" as macros %}
{% block title %}
{%- if query_pubs|count > 0 %}{{ query_pubs[0].title }} - {% endif -%}
Citation search{% endblock %}
{% block content %}
<div class="results-title"><div class="centerbox">
<h1>Citation search</h1>
{% for pub in query_pubs %}
  <div class="query">
    <div class="result-title">{{ pub.title }}</div>
    
    {{ macros.result_fields(pub) }}
  </div>
{% endfor %}
</div></div>
{{ macros.loader() }}
{% flush %}
{% set delayed = get_results() %}
{{ macros.hide_loader() }}
{% if delayed.is_error %}
  <div class="centerbox"><div class="error">Error while processing the request</div></div>
{% elif delayed.result %}
  <div class="results">
    <div class="centerbox">
    <h2>Citation results</h2>
    {% if delayed.result.autocitation_count %}
      <div class="info">
        {{ delayed.result.autocitation_count }} (deduplicated) autocitation{% if delayed.result.autocitation_count > 0 %}s{% endif %} are hidden (
        {%- for index, index_count in delayed.result.autocitation_count_by_index.items() %}
          {%- if not loop.first -%}
            {%- if loop.last %}
              and
            {% else -%}
              , 
            {% endif -%}
          {% endif -%}
          {{ index_count }} from {{ index }}
        {%- endfor -%}
        )
      </div>  
    {% endif %}
    </div>
  {% if delayed.result.citations %}
    <div class="bottomline"><div class="centerbox">Showing {{ delayed.result.citations|count }}
    record{% if delayed.result.citations|count > 0 %}s{% endif %}:</div></div>
    {% for result in delayed.result.citations %}
      <div class="result"><div class="centerbox">
        <div class="result-marc">
          <span class="marc-tag">\9</span> <span class="marc-value">[o1]</span>
          <span class="marc-tag">\d</span> <span class="marc-value">{{ result.year }}</span>
          <span class="marc-tag">\m</span><span class="marc-value">
          {% for author in result.authors %}
            {%- if not loop.first %} - {% endif -%}
            <span {% if author.unparsed_text %} title="{{ author.unparsed_text }}"{% endif %}>{{ author.short_name }}</span>
          {% endfor %}
          </span>
          <span class="marc-tag">\n</span> <span class="marc-value" title="{{ result.title }}">{{ result.title|titlecase(all_caps_only=True) }}</span>
          <span class="marc-tag">\p</span> <span class="marc-value">
          <span title="{{ result.published_in }}">
          {%- if result.published_in -%}
            {{ result.published_in|remove_proceedings|titlecase }}
          {%- endif -%}
          {%- if result.published_in and result.series %} : {% endif -%}
          {%- if result.series -%}
            {{ result.series|titlecase }}
          {%- endif -%}
          </span>
          {%- if result.volume -%}
          , Vol. {{ result.volume }}
          {%- endif -%}
          {%- if result.issue -%}
          , No. {{ result.issue }}
          {%- endif -%}
          , {{ result.year }}
          </span>
          {% if result.in_index('CPCI-S', 'BKCI-S') %}
          <span class="marc-tag">\r</span> <span class="marc-value">
          {% if result.publisher_city %}
          {{ result.publisher_city|titlecase(all_caps_only=True) }}
          {% endif %}
          {% if result.publisher_city and result.publisher %}
          :
          {% endif %}
          {% if result.publisher %}
          {{ result.publisher|titlecase(all_caps_only=True) }}
          {% endif %}
          </span>
          {% endif %}
          <span class="marc-tag">\s</span> <span class="marc-value">
          {% if result.article_no %}
          Art. No. {{ result.article_no }}
          {%- endif -%}
          {%- if result.article_no and result.pages -%}
          , 
          {% endif %}
          {% if result.pages %}
          s. {{ result.pages }}
          {% endif %}
          </span>
          {% if result.indexes %}
          <span class="marc-tag">\t</span> <span class="marc-value">{{ result.indexes|join(' ; ', attribute='value') }}</span>
          {% endif %}
        </div>

      {% if result.source_urls or result.identifiers|tagtype('DOI')|count > 0 %}
      <div class="result-urls">
        <ul>
        {% for url in result.source_urls %}
          <li><a href="{{ url.value }}" target="_blank">View record in {{ url.description }}</a></li>
        {% endfor %}
        {% for doi in result.identifiers|tagtype('DOI')|map(attribute='value') %}
          <li><a href="http://dx.doi.org/{{ doi }}" target="_blank">View document</a></li>
        {% endfor %}
        </ul>
      </div>
      {% endif %}
        
        {% if result.errors %}
        <div class="result-errors">
          <ul>
          {% for error in result.errors %}
            <li>{{ error }}</li>
          {% endfor %}
          </ul>
        </div>
        {% endif %}
        
        {#
        {% if result.merge_sources %}
        <div class="result-merge-sources">
          {% for source in result.merge_sources %}
            <div class="result-merge-source">
              <div class="result-title">{{ source.title }}</div>
              
              {{ macros.result_fields(source) }}
            </div>
          {% endfor %}
        </div>
        {% endif %}
        #}
      </div></div>
    {% endfor %}
  {% else %}
    <div class="centerbox">No matching citations to display.</div>
  {% endif %}
  </div>
{% endif %}
{% endblock %}
